body{
    font-family: Lato;
}

a{
  text-decoration: none;
}


.best_price{
    color:red;
    display:inline;
}

.align_left{
    float:left;
}

input[type="checkbox"]:checked + label {
  color : green
}

.menu{
  display: block;
  font-weight: bold;
  color: white;
  border: 2px solid royalblue;
  text-align: center;
  width: 10em;
  background-color: royalblue;
}

.menu ul{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.menu:hover ul{
  display: block;
}

.menu ul li{
  border-top: 2px solid royalblue;
  background-color: white;
  width: 10em;
  color: black;
}

.menu ul li:hover{background-color: powderblue;}


.banner{
  display: block;
  height: 500px;
  background-image: url("../images/kot.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightgrey;
}

.text_banner{
  text-align: center;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 600;
  color: #660066;
  padding-top: 200px;
  text-shadow: white 0px 0px 10px;
}

@media only screen and (max-width: 600px){
  body{
    background-color: lightblue;
  }
}

.telephone{
    float: right;
    margin-right: 10pt;
    border-color: rgb(238, 119, 8);
    border-style:solid ;
    padding-left: 10pt;
    padding-right: 10pt;

}

.survey{
    border-color: blue;
    border-width: thin;
    border-style: solid;
    width: 10%;
    margin-left: 10pt;
    margin-right: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
    float: right;
}

.survey input:focus{
  background-color: magenta;
}

.sale_table_index{
    border-collapse: collapse;
    width: 50%;
}

.sale_table_index th,.sale_table_index td {
    text-align: left;
    padding: 8px;
}

.sale_table_index tr:nth-child(even){background-color: #f2f2f2}

.sale_table_index th {
    background-color: #4CAF50;
    color: white;
}

.discount_table_index, td {
    border: 1px solid black;
}

.discount_table_index th, .discount_table_index td{
  text-align: left;
  padding: 8px;
}

.discount_table_index tr:first-child{
  color: white;
  background-color: darkblue;
}


.discount_table_index tr:last-child{
  color: white;
  background-color: rgb(255, 115, 115);
}

.discount_table_index th {
    background-color: #4CAF50;
    color: white;
}

.cover_whole_area_table_index{
    width:100%;
}

.icon_index{
    width:3%;
     height:3%;
}

/* About website */

.short_info {
  font-weight: 700;
  font-style: italic;
  font-family: sans-serif;
}

.history p{
  font-size: 20px;
}

.history h1{
  font-size: 150%;
}

.find_us p{
  font-size: 20px;
  line-height: 130%;
}

.find_us h3{
  font-size: 150%;
}

.find_us mark{
  font-variant: small-caps;
}

/* Form main */

.form_main{
  display: inline-block;
  height: 1.5em;
  position: relative;
  left: 1ex;
  bottom: 1ex;
  font-weight: 600;
  font-size: 15px;
  font-family: sans-serif;
}
p:empty {
  width: 100%;
  height: 5px;
  background: #938ee6;
}

.text_main{
  position: relative;
  right: -1ex;
  top: 1ex;
}

.submit_form_main, .reset_form_main{
  position: relative;
  top: 1ex;
  left: 35ex;
}

.submit_form_main{
  background-color: lime;
}

.reset_form_main{
  background-color: magenta;
}

/* unvisited link */
a:link:not(#important_cat_link) {
    color: rgb(0, 132, 255);
}


/* mouse over link */
a:hover {
    color: rgb(255, 123, 0);
}

/* selected link */
a:active {
    color: rgb(245, 71, 2);
}

/* visited link */
a:visited {
    color: rgb(255, 38, 0);
}

input[type="search"]:enabled {
  background: #b3faeb;
}

input[type="url"]:disabled {
  background: #f7d1d1cb;
}

:target {
  border: 2px solid rgb(187, 187, 189);
  background-color: #f5fddf;
}


input:required {
  border-color: rgb(255, 0, 0);
}

/*
p:last-of-type {
    background: #ff0000;
}
.discount_table_index tr:last-child{
  color: white;
  background-color: darkblue;
}
p:only-child {
    background: red;
}



*/